.item {
  background: rgb(3, 3, 3);
  columns: 1;
  grid-row: 4;
  column-gap: 30;
}
.card {
  background: rgb(206, 141, 103);
  width: 300px;
}
.card-header {
  background: rgb(103, 168, 206);
}
.card-body {
  background: rgb(125, 207, 93);
}
.card-fotter {
  background: rgb(206, 187, 103);
}
mat-grid-list {
    width: 1000px;
  }
mat-grid-tile {
    background: rgb(0, 68, 36);
    width: 600px;
  }

mat-grid-tile {
    width: 600px;
}