<h2>Juegos! explora a gusto!</h2>

<div class="container">
  <div class="item" *ngFor="let Juego of Juegos">
    <div class="card text-center">
      <div class="card-header">
      </div>
      <div class="card-body">
        <p>
          {{ Juego.Descripcion }}
        </p>
        <p>
        </p>
      </div>
      <div class="card-fotter">
        $ {{ Juego.Precio }}
        <button (click)="comprar(Juego)">Comprar</button>
    </div>
  </div>
</div>

<!-- <mat-grid-list cols="4">
  <mat-grid-tile colspan="2" *ngFor="let Juego of Juegos">
    <h3>{{ Juego.Nombre }}</h3>
    <h4>$ {{ Juego.Precio }}</h4>
    <p>{{ Juego.Descripcion }}</p>
    <button
      mat-icon-button
      color="primary"
    >
      <mat-icon color="green">shopping_cart</mat-icon>
    </button>
  </mat-grid-tile>
</mat-grid-list> -->